/* Color List */
$white: #ffffff;
$black: #000000;
$lightBlack: #555555;
$darkOrange: #feecec;
$lightOrange: #f43c3d;
$lightBlue: #286ef1;
$darkBlue: #D5E3FE;

/* Font Size Heading */
$body: 0.938rem;
$h1: 1.625rem;
$h2: 1.5rem;
$h3: 1.25rem;
$h4: 1.125rem;
$h5: 1rem;
$h6: 0.875rem;

/* Font (Roboto) */
$primaryFont: "Roboto", sans-serif;
$regularFontWeight: 400;
$mediumFontWeight: 500;
$boldFontWeight: 700;
